body {
  color: #2B283A;
}

.invoice-header {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 5px;
}

.h1-header {
  font-size: 2.5rem;
  font-weight: 800;
}

.h2-header {
  font-size: 1rem;
  font-weight: 400;
}

.main-button-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
  margin: 2rem;
}

.main-task-total-label-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  color: #918E9B;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 166.667% */
  font-size: 0.75rem;
}

.main-task-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  color: #4A4E74;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 100% */
}

.main-total-span {
  float: right;
}

.main-task-button {
  border-radius: 0.4375rem;
  border: 1px solid #D5D4D8;
  background: #FFF;
  width: 8.94831rem;
  height: 2.8125rem;
  padding: 0.5625rem 0.8125rem;
  justify-content: center;
  flex-shrink: 0;
  color: #4A4E74;
  /* text-sm/leading-4/font-medium */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
}

.main-task-input {
  width: 20.4375rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 0.4375rem 0rem 0rem 0.4375rem;
  border: 1px solid #D5D4D8;
  background: #FFF;
  color: #888;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 200% */
  margin: 1rem auto;
  display: block;
  padding: 1rem;
}

.main-notes-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.main-notes-note-span {
  color: #4A4E74;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9375rem; /* 125% */
}

.main-task-total-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  color: #918E9B;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 166.667% */
}

.main-send-button {
  display: flex;
  border: 0;
  margin: 0 auto;
  width: 29.5625rem;
  height: 2.75rem;
  padding: 0.5625rem 1.0625rem 0.5625rem 0.9375rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0;
  border-radius: 0.4375rem;
  background: #3770ED;
  color: var(--white, #FFF);
  /* text-base/leading-6/font-medium */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
  /* shadow/sm */
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.main-total-amount-span {
  color: #4A4E74;
  text-align: right;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 88.889% */
}

button > img {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
}